# Measures of Shape and Position

1. Ukuran Bentuk (Measures of Shape)
Ukuran bentuk menggambarkan bagaimana data terdistribusi secara visual, terutama terkait simetri dan puncak.
- Kemencengan (Skewness)
Skewness mengukur tingkat ketidaksimetrisan distribusi data. Positif (menceng ke kanan). Negatif (menceng ke kiri). Nol (simetris)
- Keruncingan (Kurtosis)
Kurtosis mengukur "puncak" atau "keruncingan" distribusi data dibandingkan dengan distribusi normal (kurva lonceng). Ini juga melihat seberapa banyak data yang berada di "ekor" distribusi. Leptokurtik (Positif). Mesokurtik (Nol). Platykurtik (Negatif)

In [3]:
import pandas as pd
import scipy.stats as stats
import numpy as np

df = pd.read_csv("employee.csv")
df.head(3)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0

In [3]:
# Calculate skewness and kurtosis
salary_skewness = stats.skew(df["MonthlyIncome"])
salary_kurtosis = stats.kurtosis(df["MonthlyIncome"])

print("Skewness of Salary:", salary_skewness)
print("Kurtosis of Salary:", salary_kurtosis)

Skewness of Salary: 1.3684185123330814
Kurtosis of Salary: 0.9977379294765711

2. Ukuran Posisi (Measures of Position) Ukuran posisi menunjukkan lokasi relatif dari suatu nilai data dalam kumpulan data.
   -  Kuartil (Quartiles) Kuartil membagi data yang telah diurutkan menjadi empat bagian yang sama. Q1 = 25%. Q2 = Median. Q3 = 75%
   -  Persentil (Percentiles) Persentil membagi data yang telah diurutkan menjadi 100 bagian yang sama.

In [5]:
# Calculate percentiles
percentiles = np.percentile(df['MonthlyIncome'], [15, 45, 65])

#Calculate quartiles
quartiles = np.percentile(df['MonthlyIncome'], [25, 50, 75])

print('Percentiles:')
print('15 percentile:', percentiles[0])
print('45 percentile (median):', percentiles[1])
print('65 percentile:', percentiles[2])

print('\nQuartiles:')
print('Q1 (25th percentile):', quartiles[0])
print('Q1 (50th percentile, median):', quartiles[1])
print('Q1 (75th percentile):', quartiles[2])

Percentiles:
15 percentile: 2476.7
45 percentile (median): 4554.1
65 percentile: 6348.7

Quartiles:
Q1 (25th percentile): 2911.0
Q1 (50th percentile, median): 4919.0
Q1 (75th percentile): 8379.0