# Measures of Spread

Ukuran penyebaran data (Measures of Spread, juga dikenal sebagai measures of dispersion atau variability) adalah nilai statistik yang menggambarkan seberapa tersebar atau bervariasinya data dalam suatu kumpulan. Ini melengkapi ukuran pemusatan data (seperti mean, median, modus) yang hanya menunjukkan "pusat" data.

Berikut adalah beberapa ukuran penyebaran data yang umum:
1. Rentang (Range)
Rentang adalah ukuran penyebaran yang paling sederhana, dihitung sebagai selisih antara nilai terbesar (maksimum) dan nilai terkecil (minimum) dalam kumpulan data.
2. Variansi (Variance)
Variansi mengukur seberapa jauh setiap titik data dari mean (rata-rata) dan seberapa jauh titik-titik data itu saling berjauhan. Ini dihitung dengan merata-ratakan kuadrat dari selisih setiap titik data dengan mean.
3. Standar Deviasi (Standard Deviation - SD)
Standar deviasi adalah akar kuadrat dari variansi. Ini adalah ukuran penyebaran yang paling umum digunakan karena memiliki satuan yang sama dengan data asli, sehingga lebih mudah diinterpretasikan. Standar deviasi menunjukkan seberapa jauh, rata-rata, setiap titik data menyimpang dari mean.

In [1]:
import pandas as pd

df = pd.read_csv("employee.csv")
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [2]:
salary_range = df["MonthlyIncome"].max() - df["MonthlyIncome"].min()
salary_variance = df["MonthlyIncome"].var()
salary_std_dev = df["MonthlyIncome"].std()

print('Measures of Spread - MonthlyIncome:')
print('Salary Range:', salary_range)
print('Salary Variance:', salary_variance)
print('Salary Standard Deviation:', salary_std_dev)

Measures of Spread - MonthlyIncome:
Salary Range: 18990
Salary Variance: 22164857.07151841
Salary Standard Deviation: 4707.956783097994