# Skewness and Kurtosis

<b>Skewness</b> adalah ukuran ketidaksimetrisan suatu distribusi probabilitas. Sebuah distribusi disebut simetris jika sisi kiri dan kanannya adalah cerminan satu sama lain. Distribusi yang miring (skewed), di sisi lain, adalah distribusi di mana data tidak simetris dan cenderung condong atau memanjang ke satu sisi.

#### Jenis-jenis Skewness:
- Skewness Nol (Distribusi Simetris):
Distribusi ini sangat simetris.
Rata-rata, median, dan modus semuanya kira-kira sama dan terletak di tengah distribusi.
Distribusi normal yang sempurna memiliki skewness 0.
Contoh: Kurva lonceng yang seimbang sempurna.

- Skewness Positif (Miring ke Kanan):
Ekor distribusi lebih panjang di sisi kanan.
Sebagian besar data ("punuk") terkonsentrasi di sisi kiri.
Rata-rata biasanya lebih besar dari median, yang lebih besar dari modus (Rata-rata > Median > Modus). Ini karena nilai-nilai ekstrem yang tinggi di ekor kanan menarik rata-rata ke kanan.
Contoh: Distribusi pendapatan (beberapa individu berpenghasilan sangat tinggi menarik rata-rata ke atas), nilai tes di mana sebagian besar siswa mendapat nilai rendah dan beberapa mendapat nilai sangat tinggi.

- Skewness Negatif (Miring ke Kiri):
Ekor distribusi lebih panjang di sisi kiri.
Sebagian besar data terkonsentrasi di sisi kanan.
Rata-rata biasanya lebih kecil dari median, yang lebih kecil dari modus (Rata-rata < Median < Modus). Ini karena nilai-nilai ekstrem yang rendah di ekor kiri menarik rata-rata ke kiri.
Contoh: Nilai tes di mana sebagian besar siswa mendapat nilai tinggi dan beberapa mendapat nilai sangat rendah, masa pakai produk yang cenderung cepat rusak untuk persentase kecil.


<b>Kurtosis</b> adalah ukuran "ketebalan ekor" (tailedness) suatu distribusi probabilitas. Ini menjelaskan bentuk ekor distribusi dan, akibatnya, kemungkinan adanya nilai-nilai ekstrem (pencilan/outliers). Penting untuk dicatat bahwa kurtosis tidak secara utama mengukur "ketinggian puncak" distribusi, seperti yang sering disalahpahami, melainkan ekstremitas ekornya relatif terhadap distribusi normal.

#### Jenis-jenis Kurtosis (berdasarkan Excess Kurtosis):
- Mesokurtic (Excess Kurtosis ≈ 0):
Distribusi memiliki ketebalan ekor yang mirip dengan distribusi normal.
Kemungkinan nilai-nilai ekstrem terjadi adalah sedang, mirip dengan apa yang Anda harapkan dari distribusi normal.
Contoh: Distribusi normal standar.

- Leptokurtic (Excess Kurtosis > 0):
Distribusi memiliki "ekor tebal" atau "ekor gemuk."
Ini berarti ada probabilitas yang lebih tinggi untuk terjadinya nilai-nilai ekstrem (pencilan) dibandingkan dengan distribusi normal. Puncaknya mungkin juga tampak lebih tajam atau lebih terkonsentrasi.
Contoh: Data pengembalian finansial (yang sering menunjukkan keuntungan/kerugian ekstrem yang lebih banyak daripada yang diperkirakan distribusi normal).

- Platykurtic (Excess Kurtosis < 0):
Distribusi memiliki "ekor tipis" atau "ekor ringan."
Ini berarti ada probabilitas yang lebih rendah untuk terjadinya nilai-nilai ekstrem dibandingkan dengan distribusi normal. Puncaknya mungkin juga tampak lebih datar atau kurang terkonsentrasi.
Contoh: Distribusi seragam (di mana semua nilai dalam rentang tertentu memiliki probabilitas yang sama, dan tidak ada pencilan ekstrem).

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("employee.csv")
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [6]:
from scipy.stats import skew, kurtosis

MonthlyIncome = df["MonthlyIncome"]

# Calculate skewness and kurtosis
skewness = skew(MonthlyIncome)
kurt = kurtosis(MonthlyIncome)

print("Skewness: {0:.2f}".format(skewness))
print("Kurtosis: {0:.2f}".format(kurt))

Skewness: 1.37
Kurtosis: 1.00