# Maximum Likelihood Estimation (MLE)

Estimasi Kemungkinan Maksimum (Maximum Likelihood Estimation - MLE) adalah metode statistik fundamental yang digunakan untuk mengestimasi parameter dari suatu distribusi probabilitas yang diasumsikan, berdasarkan sekumpulan data yang diamati. Ide inti di balik MLE adalah menemukan nilai-nilai parameter yang membuat data yang diamati menjadi paling mungkin terjadi.

Tujuan utama MLE adalah menentukan nilai-nilai parameter yang tidak diketahui dalam model statistik sehingga data yang diamati paling mungkin terjadi di bawah model tersebut.

<b>Fungsi Kemungkinan (Likelihood Function)</b><br>
Bayangkan Anda memiliki sekumpulan titik data yang diamati. Anda berasumsi bahwa data ini dihasilkan oleh distribusi probabilitas tertentu (misalnya, distribusi normal, distribusi Poisson, distribusi binomial) yang bergantung pada beberapa parameter yang tidak diketahui (misalnya, mean dan varian untuk distribusi normal, lambda untuk distribusi Poisson).

Fungsi kemungkinan adalah fungsi dari parameter-parameter yang tidak diketahui ini. Fungsi ini menyatakan "kemungkinan" (atau probabilitas, untuk data diskrit, atau kerapatan probabilitas, untuk data kontinu) untuk mengamati data Anda, untuk berbagai nilai parameter yang mungkin. Jika titik-titik data adalah independen dan terdistribusi secara identik (i.i.d.), fungsi kemungkinan adalah hasil kali dari fungsi kerapatan probabilitas (atau fungsi massa probabilitas) individual untuk setiap titik data yang diamati.

Pada intinya, MLE menyediakan cara yang sistematis dan berprinsip untuk mengestimasi parameter yang tidak diketahui dalam model statistik dengan menemukan nilai-nilai parameter yang membuat data yang diamati paling masuk akal di bawah model yang diasumsikan.

In [4]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df = pd.read_csv("employee.csv")
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [6]:
# Estimate the parameters using Maximum Likelihood Estimation (MLE)
MonthlyIncome = df["MonthlyIncome"]

params = stats.norm.fit(MonthlyIncome)

print("Estimate Mean:", params[0])
print("Estimate Standart Deviation:", params[1])

Estimate Mean: 6502.931292517007
Estimate Standart Deviation: 4706.355164823003